.secondary-panel.background-highlight
  %h2.panel__heading.text-center Send Me A Message
  .row
    .server-status-message.text-center
    .medium-6.medium-offset-3
      = form_for(Inquiry.new, url: inquiry_path, remote: true) do |f|
        = f.label :email_address
        = f.text_field :email
        = f.label :message
        = f.text_area :body
        = f.submit "Send", class: 'button right'
    .medium-6.medium-offset-3.text-center.social-links
      =link_to 'https://github.com/mwitek', target: '_blank' do
        %span.icon-github-logo
      = link_to 'https://www.linkedin.com/in/mwitek', target: '_blank' do
        %span.icon-linkedin-logo
      = link_to 'https://twitter.com/mwitekdesign', target: '_blank' do
        %span.icon-twitter-logo